<!-- <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
  <mat-form-field>
    <input matInput type="number" placeholder="Saisissez une année" min="-50000" max="2100" [(ngModel)]="inputValue" (keydown.enter)="onValueChange(inputValue)">
  </mat-form-field>
  <div class="appCaractersCardsList">
    <app-caracters-cards *ngFor="let caracter of caracters$ | async" [caracter]="caracter"></app-caracters-cards>
  </div>