
<ng-container *ngIf="(caracter$ | async) as caracterData">
    <h2 class="title_name">{{caracterData.attributes.name}}</h2>
    <div class="toflex">
        <figure>
            <img src="{{caracterData.attributes.portrait}}" alt="">
            <figcaption>{{caracterData.attributes.year_born}} - {{(caracterData.attributes.year_die != 9999)? caracterData.attributes.year_die : 'alive'}}<br>{{caracterData.attributes.born}} - {{(caracterData.attributes.year_die != 9999)? caracterData.attributes.die : 'alive'}}</figcaption>
        </figure>
        <div class="desc" [innerHTML]="caracterData.attributes.desc">
    </div>
    </div>
    <div class="links">
        <a mat-stroked-button href="{{caracterData.attributes.portrait}}" target="_blank"><mat-icon>link</mat-icon><span>lien vers l'image</span></a>
        <a mat-stroked-button href="{{caracterData.attributes.wikipedia}}" target="_blank"><mat-icon>link</mat-icon><span>lien vers l'article</span></a>
    </div>
    <div class="type">
        <app-caracters-card-type *ngFor="let caracterType of caracterData.attributes.caracters_types.data" [caracterType]="caracterType"></app-caracters-card-type>
    </div>
    <!-- <div class="relation">
        <app-caracters-card-relations *ngFor="let caracterRelation of ( caracter$ | async)!.attributes.relations.data" [caracterRelation]="caracterRelation"></app-caracters-card-relations>
    </div> -->
    <h2>relations connus</h2>
    <div class="relationExtend appCaractersCardsList">
        <app-caracters-card-relation-extend *ngFor="let caracterRelation of caracterData.attributes.relations.data" [caracterRelation]="caracterRelation"></app-caracters-card-relation-extend>
    </div>
    <!-- <div class="searchPathRealation">
        <h2>rechercher le lien avec une autre personne</h2>
        <app-search-by-name-path (idClickedToPath)="onIdClickedToPath($event)"></app-search-by-name-path>
    </div>
    <h1>{{idToPath}}</h1>
    <h2>{{stringToPathFunc}}</h2> -->
</ng-container>
